
<div class="container">
    <h1>Post Job</h1>
<table class="table table-hover">
          <thead>
            <tr>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Description</th>
            <th>Action</th>
            </tr>
          </thead>
          <tbody ng:repeat="job in jobs">
            <td>{{job.name}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.description}}</td>
            <td><md-button class="md-raised md-warn" ng-click="removeJob($index,$event)">remove</md-button></td>
          </tbody>
          <tbody>
              <form>
            <td>
                  <md-input-container>
                      <input placeholder='name' type="text" ng-model="job.name"/>
                  </md-input-container>
            </td>
            <td><md-input-container>
                <input type="text" placeholder="salary" ng-model="job.salary"/>
            </td></md-input-container>
            <td><md-input-container>
                <input type="text" placeholder="description" ng-model="job.description"/>
            </td></md-input-container>
            <td><md-button class="md-raised md-primary" ng-click="createJob()">Submit</md-button></td>
              </form>  
        </tbody>
</table>

    <ol ng-repeat="job in jobs">
        {{job.name}}
        <ul ng-repeat="name in job.ygapply">
            <li>{{name}}</li>
        </ul>
    </ol>
    
</div>